SECRET_KEY=
DATABASE_URL=
ALLOW_ORIGINS=
API_PREFIX=
GOOGLE_API_KEY=
IMAGEKIT_PRIVATE_KEY=
RABBITMQ_USER=
RABBITMQ_PASS=
BROKER_URL=
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_FROM_EMAIL=
MAILTRAP_FROM_NAME=
MAILTRAP_TO_EMAIL=